OnlineVacationReservation/Connected Services/ServiceReference1/Cruise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departing_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departing_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_City" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_CheckIn" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Date_CheckOut" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchCruiseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCruiseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:searchCruise" />
  </wsdl:message>
  <wsdl:message name="searchCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:searchCruiseResponse" />
  </wsdl:message>
  <wsdl:portType name="CruiseSoap">
    <wsdl:operation name="searchCruise">
      <wsdl:input message="tns:searchCruiseSoapIn" />
      <wsdl:output message="tns:searchCruiseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CruiseSoap" type="tns:CruiseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchCruise">
      <soap:operation soapAction="http://tempuri.org/searchCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CruiseSoap12" type="tns:CruiseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchCruise">
      <soap12:operation soapAction="http://tempuri.org/searchCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cruise">
    <wsdl:port name="CruiseSoap" binding="tns:CruiseSoap">
      <soap:address location="https://localhost:44379/Cruise.asmx" />
    </wsdl:port>
    <wsdl:port name="CruiseSoap12" binding="tns:CruiseSoap12">
      <soap12:address location="https://localhost:44379/Cruise.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>