OnlineVacationReservation/Connected Services/ServiceReference4/CruiseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CruiseBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cruise_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Number_of_rooms" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Room" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CruiseBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CruiseBookingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CruiseBookingSoapIn">
    <wsdl:part name="parameters" element="tns:CruiseBooking" />
  </wsdl:message>
  <wsdl:message name="CruiseBookingSoapOut">
    <wsdl:part name="parameters" element="tns:CruiseBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="CruiseServiceSoap">
    <wsdl:operation name="CruiseBooking">
      <wsdl:input message="tns:CruiseBookingSoapIn" />
      <wsdl:output message="tns:CruiseBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CruiseServiceSoap" type="tns:CruiseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CruiseBooking">
      <soap:operation soapAction="http://tempuri.org/CruiseBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CruiseServiceSoap12" type="tns:CruiseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CruiseBooking">
      <soap12:operation soapAction="http://tempuri.org/CruiseBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CruiseService">
    <wsdl:port name="CruiseServiceSoap" binding="tns:CruiseServiceSoap">
      <soap:address location="https://localhost:44379/CruiseService.asmx" />
    </wsdl:port>
    <wsdl:port name="CruiseServiceSoap12" binding="tns:CruiseServiceSoap12">
      <soap12:address location="https://localhost:44379/CruiseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>